.about {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.about-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .about-list {
        flex-direction: column;
    }
}

.about-list__item {
    line-height: 1.5;
    padding: 1em;
}