.portfolio {
    background-color: #9baec8;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1170px;
    padding: 2rem 4rem;
}
@media (max-width: 768px) {
    .projects {
        padding: 1rem 2rem;
    }
}
@media (max-width: 480px) {
    .projects {
        flex-direction: column;
    }
}

.projects__item {
    flex-basis: 33%;
    padding: 1rem;
}

.projects__image {
    width: 100%;
    height: auto;
    display: block;
}

figure {
    padding: .25em;
    background-color: #fff;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}