* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 360px;
}


/* HEADER */

.header {
    background-color: #282c37;
    color: #fff;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 1em;
    padding-right: 1em;
}
@media (max-width: 600px) {
    .header__container {
        justify-content: center;
    }
}

.header__title {
    font-weight: 100;
    text-transform: uppercase;
}

.nav {
    display: flex;
    font-size: 1.25rem;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .nav {
        display: none;
    }
}

.nav__item:not(:first-child) {
    margin-left: 1.25rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    color: #f9690e;
    text-decoration: underline;
}


/* PORTFOLIO */

.portfolio {
    background-color: #9baec8;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1170px;
    padding: 2rem 4rem;
}
@media (max-width: 768px) {
    .projects {
        padding: 1rem 2rem;
    }
}
@media (max-width: 480px) {
    .projects {
        flex-direction: column;
    }
}

.projects__item {
    flex-basis: 33%;
    padding: 1rem;
}

.projects__image {
    width: 100%;
    height: auto;
    display: block;
}

figure {
    padding: .25em;
    background-color: #fff;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}


/* ABOUT */

.about {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.about-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .about-list {
        flex-direction: column;
    }
}

.about-list__item {
    line-height: 1.5;
    padding: 1em;
}


/* FOOTER */

.footer {
    background-color: #282c37;
    color: #fff;
    display: flex;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer__summary {
    flex-basis: 48%;
    line-height: 1.25;
    padding-left: 4rem;
    text-align: right;
}
@media (max-width: 990px) {
    .footer__summary {
        display: none;
    }
}

.contact {
    flex-basis: 48%;
}
@media (max-width: 990px) {
    .contact {
        flex-basis: auto;
        align-content: space-between;
    }
}

.contact__summary {
    color: #f9690e;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 1rem;
}

@media (max-width: 990px) {
    .social {
        display: flex;
        justify-content: space-between;
    }
}
  
.social__icon {
    color: #d9e1e8;
}
@media (min-width: 991px) {
    .social__icon  {
        margin-right: 3rem;
    }
}

.social__icon:hover {
    color: #f9690e;
}